/* 
; 
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    
}

body{
    width: 100%;
    height: 100%;
    font-family: "Dosis", cursive;
    font-size: 20px;
}  

.mainpageHeader{
    width: 100%;
    min-height: 900px;
    position: relative;
    background-image: url("./images/header-pg.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

.headercontainer{
    width: 100%;
    height: 757px;
    margin: auto;
}

.headercontainer__top{
    width: 100%;
    height: 50px;
    position: relative;
}

#headercontainer-left{
    list-style-type: none;
    display: inline-block;
}

#headercontainer-left li{
    display: inline-block;
    line-height: 50px;
    border-right: 1px solid #95d5a8;
    padding: 0 10px;
}

#headercontainer-left li:first-child{
    padding-left: 50px;
}

#headercontainer-left li:last-child{
    border-right: 0;
}

#headercontainer-left li a{
    text-decoration: none;
    color: #95d5a8;
}

#headercontainer-left li .current{
    color: #ED690D;
}

#headercontainer-left li a:hover{
    text-decoration: underline;
    color: white;
}

#headercontainer-right{
    position: relative;
    float: right;
    margin-top: 5px;
}

.contact_tellogo{
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    width: 30px;
    height: 30px;
}
.contact_telnumber{
    line-height: 50px;
    float: left;
    color: #95d5a8;
    margin-right: 10px;
}

.contact_maillogo{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.contact_mailadress{
    float: left;
    line-height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    color: #95d5a8;
}

#headercontainer-right img{
    width: 30px;
    height: 30px;
}

/* NAV BAŞLANGIÇ */

nav{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.5)
}

#navcontainer{
    width: 80%;
    height: 80px;
    position: relative;
    margin: auto;
}

#navlogo {
    
    color: #ED690D;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    line-height: 80px;
    display: inline;
}

#navcontainer_right{
    list-style-type: none;
    display: block;
    float: right;
}

#navcontainer_right li{
    display: inline-block;
    line-height: 80px;
    margin-left: 20px;
}

#navcontainer_right li a{
    color: #95d5a8;
    text-decoration: none;
}

#navcontainer_right li .current{
    color: #ED690D;
}



#navcontainer_right li a:hover{
    color: white;
    text-decoration-line: underline;
}

/* about us page main section starts */

.headercontainer--aboutus{
    margin: 100px auto 0px;
    margin-left: 50px;
    color: #95d5a8;
    width: 80%;
    box-sizing: border-box;
}

.headercontainer--aboutus--leftside{
    width: 60%;
    float: left;

}

.headercontainer--aboutus--leftside h3{
    padding: 30px;
}

.headercontainer--aboutus--leftside p{
    font-size: 15px;
    line-height: 25px;
}

.headercontainer--aboutus--leftside p span{
    margin-top: 20px;
    color: #ED690D;
    display: block;
    padding: 15px ;
    background-color: rgba( 0, 0, 0, 0.7);
}

.headercontainer--aboutus--rightside{
    width: 30%;
    float: right;
    display: block;
    line-height: 25px;
    font-size: 15px;
    padding: 30px;
    
    

}

.headercontainer--aboutus--rightside p{

    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 20px ;
    color: #95d4a8;
    display: block;
    padding: 30px;
    background-color: rgba( 0, 0, 0, 0.7);
}

.headercontainer--aboutus--rightside p span{
    display: block;
    font-weight: bold;
    font-size: 20px;
}

/* about us page main section ends */



.headercontainer--titles{
    margin-top: 230px;
    margin-left: 50px;
}
.headercontainer--titles h1{
    font-size: 60px;
    line-height: 80px;
    color: #95d5a8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.headercontainer--titles h2{
    margin-top: 30px;
    font-size: 40px;
    line-height: 60px;
    color: #95d5a8;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    
}

.headercontainer--titles p{
    margin-top: 30px;
    padding-right: 5px;
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    color: #95d5a8;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
}

.headercontainer--buttons{
    margin-left: 50px;
    margin-top: 30px;
}

.headercontainer--buttons button{
    width: 120px;
    height: 60px;
    font-size: large;
}

.headercontainer--buttons button a{
    text-decoration: none;
    color: black;
    transition: all 1s ease-in-out;
}

.headercontainer--buttons button:first-child{
    background-color: #ED690D; 
}

.headercontainer--buttons button:first-child:hover{
    background-color: #95d5a8; 
}

.headercontainer--buttons button:last-child{
    background-color: #95d4a8; 
    margin-left: 20px;
}

.headercontainer--buttons button:last-child:hover{
    background-color: #ED690D; 
}

.socialmedia{
    float: right;
    margin-right: 25px;
    margin-top: 20px;
    
}

.socialmedia ul{
    list-style-type: none;
    margin-bottom: 20px;
}

.socialmedia ul a{
    text-decoration: none;
    color: #95d4a8;  
}

.socialmedia ul a:hover{
    color: white;
    text-decoration-line: underline ;
}

.socialmedia ul li{
    margin-bottom: 10px;
}

.socialmedia li img{
    vertical-align: middle;
}

/* SECTION STARTS */

.limitedsec{
    width: 1346px;
    height: 600px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    
}

.limitedsec h1{
    text-align: center;
    font-size: 44px;
    font-family: 'Kufam', cursive;
}

.limitedsec h2{
    text-align: center;
    font-size: 34px;
    font-family:monospace;
}

.limitedsec img{
    width: 663px;
    height: 400px;
    margin-top: 60px ;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.limitedsec article{
    width: 663px;
    float: right;
    margin-top: 50px;
}

.limitedsec article .article_icon{
    width: 100px;
    height: 100px;
    margin: auto;
}

.limitedsec article p{
    margin-top: 20px;
    text-align: justify;
}

/* 2. SECTION STARTS   */

.unlimitedsec{
    width: 100%;
    position: relative;

}

.menustart{
    position: relative;
    width: 1346px;
    min-height: 500px;
    background-image: url("./images/menu1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: auto;
}

.menustart div{
    width:1346px;
    position: absolute;
    top: 40%;    
    text-align: center;
    
}

.menustart div span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    font-size: 1em;
    display: inline-block;
    border: 1px solid #95d4a8;
    color:#95d4a8;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.menustart div span a{
    text-decoration: none;
    color:#95d4a8;
    font-size: 2em;
}

.menustart div span a:hover{
    text-decoration-line: underline;
    color: #ED690D;
}

.menucontent{
    
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto ;
    justify-content: center;
}

.menucontent img{
    width: 250px;
    height: 300px;
    margin-bottom: 10px;
}

.img{
    margin : 5px ;
    opacity: 0.5;
    /* box-shadow: -5px 5px gray; */
}

.img:hover {
  opacity: 1;
  box-shadow: -5px 5px gray;
}

/* 3. SECTION STARTS   */

section .kitchen_title{
    margin: 90px auto 0px;
}
section .kitchen_title h1{
    text-align: center;
    font-family: 'Kufam', cursive;
    font-size: 2em ;
}


section .kitchenpart{
    width: 1200px;
    height: 600px;
    margin: 10px auto ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

section .kitchenpart .chef{
    width: 380px;
    height: 520px;
    margin: auto;
    overflow: hidden;
}


 section .kitchenpart .chef img{
    width: 380px;
    height: 520px;
    
}

section .kitchenpart .chef .chef1_hover{
    width: 380px;
    height: 520px;
    background-image: url("./images/menu5.jpg");
    background-size: contain ;
    position: relative;
    top: -525px;
    left: -380px;
    transition: all 2s ease-in-out;
    opacity: 0.7;
    
  
}

section .kitchenpart .chef:hover .chef1_hover{
    left: 0;
}

section .kitchenpart .chef .chef1_hover .chef1_hover_text{
    background-color: black;
    position: absolute;
    width: 380px;
    line-height: 60px;
    color: #ED690D;
    margin-top: 200px;
    text-align: center;
}

section .kitchenpart .chef .chef2_hover{
    width: 380px;
    height: 520px;
    background-image: url("./images/menu7.jpg");
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center;
    position: relative;
    top: -525px;
    left: -380px;
    transition: all 2s ease-in-out;
    opacity: 0.7;
    
  
}

section .kitchenpart .chef:hover .chef2_hover{
    left: 0;
}

section .kitchenpart .chef .chef2_hover .chef2_hover_text{
    background-color: black;
    position: absolute;
    width: 380px;
    line-height: 60px;
    color: #ED690D;
    margin-top: 200px;
    text-align: center;
}

section .kitchenpart .chef .chef3_hover{
    width: 380px;
    height: 520px;
    background-image: url("./images/menu6.jpg");
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center;
    position: relative;
    top: -525px;
    left: -380px;
    transition: all 2s ease-in-out;
    opacity: 0.7;
    
  
}

section .kitchenpart .chef:hover .chef3_hover{
    left: 0;
}

section .kitchenpart .chef .chef3_hover .chef3_hover_text{
    background-color: black;
    position: absolute;
    width: 380px;
    line-height: 60px;
    color: #ED690D;
    margin-top: 200px;
    text-align: center;
}

/* The Last section */

.lastsection{
    width: 100%;
    height: auto;
    background-size: cover ;
    background-attachment: fixed;
    background-position: center;
}

.lastsection__container{
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around  ;
    margin: auto;

}

.lastsection__container--leftside{
    box-sizing: border-box;
    width: 50%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 30px;
    padding: 110px 20px 0px;
    text-align: center;
    color: #95d4a8;
    font-weight: 800;
    margin-right: 40px ;
}

.lastsection__container--leftside p{
    color: #ffffff;
    font-weight: normal;
}

.lastsection__container--rightside{
    box-sizing: border-box;
    width: 30%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    float: right;
    margin-top: 50px;
    margin-left: 40px;
    color: #95d4a8;
    text-align: start;
    padding: 10px;
}

.lastsection__container--rightside form{
    font-size: 15px;
    
}

.lastsection__container--rightside form input{
    width: 90%;
    padding: 5px;
    text-align: start;
    font-size: 15px;
}

.lastsection__container--rightside form textarea{
    width: 90%;
    padding: 5px;
    text-align: start;
    font-size: 14px;
}
.lastsection__container--rightside form #submitbutton{
  height: 38px;
  background-color: #ED690D;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  display: block;
  margin: auto;
}

footer{
    box-sizing: border-box;
    width: 100%;
    background-color:rgba(190, 190, 189, 0.609);
    color: #ED690D;
    position: relative;
    padding: 12px;
}

footer .logo {
    font-size: 30px;
    font-weight: 900;
    line-height: 50px;
    border-bottom: #ee965c solid 1px;
    box-sizing: border-box;
    padding-left: 30px;

}

footer .socialmedia{
    float: left;
    margin-top: 10px;
    
}

footer .socialmedia li{
    display: inline;
}


footer .socialmedia a{
    color: #ee965c;
    font-size: 15px;
}

footer .title{
    text-align: right;
    line-height: 50px;
    display: block;
    margin-right: 30px;
}

#footer{
    position: fixed;
    bottom: 0;
    background-color: rgba( 0, 0, 0, 0.7);
}

/* Our History */

#nav_ab-ohp1 {
    margin-top: 0;
    top: auto;
    background-color: rgba( 0, 0, 0, 0.8);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:3px solid rgba(190, 190, 189, 0.609);
}
#nav_ab-ohp2{
  
    background-color: rgba( 0, 0, 0, 0.8);
}

#newsletter{
    background-image: url("./images/header-pg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}

#newsletter h1{
    color: white;
    text-align: center;
    position: relative;
    top: 200px;
    font-size: 40px;
}

#bosses img{
    width: 200px;
    height: 200px;
}

#bosses {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    text-align: center;
}

#history{
    width: 80%;
    margin: auto;
}

.history{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.history p{
    margin-top: 20px;
    text-indent: 10px;
}

#footerhistory {
    margin-top: 20px;
    position: relative;
    bottom: 0;
    background-color: rgba( 0, 0, 0, 0.8); 
}